@import '../styles/variables.scss';

.detail {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  .flex-detail {
    display: flex;

    gap: 2rem;
    flex-wrap: wrap;
    margin: 4rem 0;
    border: $border;

    .image-detail {
      flex: 1 1 22rem;
      padding: 2rem;

      img {
        width: 100%;
      }
    }

    .content-detail {
      flex: 1 1 20rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 2rem;

      .content-top {
        .stars {
          display: inline-block;
          margin-bottom: 0.5rem;
          color: $yellow;
          font-weight: 400;
        }

        h1 {
          text-align: center;
        }

        h4 {
          color: $light-color;
          margin: 1rem 0;
        }
      }

      .content-mid {
        p {
          color: $light-color;
          font-size: 1.2rem;
          padding: 1.25rem;
        }

        h6 {
          color: $black;
          font-size: 1.3rem;
        }
      }

      .row-content {
        display: flex;
        justify-content: space-between;
        border: $border;
        padding: 10px;
        align-items: center;

        p {
          font-size: 1.25rem;
        }

        .btn-detail {
          background-color: $yellow;
          padding: 0.75rem 1.2rem;
          text-decoration: none;
          color: $black;
          font-size: 1.1rem;
          transition: 0.25s ease;
          border: none;
          cursor: pointer;
          font-family: $Rubik;

          &:hover {
            letter-spacing: 1px;
            opacity: 0.9;
            color: $white;
            background-color: $black;
          }
        }
      }
    }
  }
}
