@import './../styles/variables.scss';

.hero {
  margin: 0 auto;
  max-width: 1280px;
  padding: 10px 40px;

  .slide {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;

    margin: 1.5rem 0;

    .image {
      flex: 1 1 18rem;

      img {
        width: 100%;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      flex: 1 1 23rem;
      text-align: center;

      span {
        font-size: 1.5rem;
        color: $light-color;
      }

      h3 {
        margin-bottom: 1rem 0;
        font-size: 3rem;
        color: $black;
        text-transform: capitalize;
      }

      p {
        margin: 0.5rem 0;
        font-size: 1.2rem;

        a {
          cursor: pointer;
          transition: 0.3s ease all;
          &:hover {
            color: $light-color;
            text-decoration: underline;
          }
        }
      }

      .btn {
        display: inline-block;
        padding: 0.7rem 1rem;
        font-size: 1.5rem;
        text-decoration: none;
        margin: 1rem auto;
        color: $black;
        background-color: $yellow;
        transition: 0.3s ease all;
        max-width: 220px;
        &:hover {
          letter-spacing: 2px;
          opacity: 0.9;
        }
      }
    }
  }

  .swiper-pagination-bullet-active {
    background-color: $yellow;
  }
}
