@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap');

$Rubik: 'Rubik', sans-serif;

$yellow: #facc24;
$red: #e74c3c;
$white: #fff;
$black: #161616;
$light-color: #777;
$border: 2px solid $black;

$spacing-md: 16px;
$spacing-lg: 32px;
